<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | relative_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <nav>
          <ul>
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="{{ "/publications" | relative_url }}">Publications</a></li>
            <li><a href="/cv-minozzi-2026-05-12.pdf" target="_blank">CV</a></li>
          </ul>
        </nav>
        <div class="contact-links">
          <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
          <p><a href="{{ site.google_scholar }}" target="_blank">Google Scholar</a></p>
          <p><a href="{{ site.orcid }}" target="_blank">ORCID</a></p>
          <p><a href="{{ site.osu_dept }}" target="_blank">OSU Profile</a></p>
        </div>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      </footer>
    </div>
  </body>
</html>
